
debug.log
.ipynb_checkpoints/Data Processor-checkpoint.ipynb
.DS_Store
debug.log
Untitled.ipynb
.DS_Store
.ipynb_checkpoints/Data Processor2-checkpoint.ipynb
.ipynb_checkpoints/MLProjectAdrien-checkpoint.ipynb
.ipynb_checkpoints/Choose Your Presentation-checkpoint.ipynb
Derezzed.mp4
Derezzed_trim.mp4
python_vlc-3.0.11115.dist-info/COPYING
python_vlc-3.0.11115.dist-info/INSTALLER
